* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.signup_box {
    width: 100%;
    height: 100vh;
    background: url("./bc.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form_div {
    text-align: center;
    /* border: 2px solid black; */
    width: 400px;
    padding: 50px 60px 70px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px -22px 400px 0px rgb(98, 177, 255);
}

.form_div h1 {
    font-size: 40px;
    margin-bottom: 60px;
    color: rgb(23, 34, 80);
    position: relative;
}

.form_div h1::before {
    content: "";
    width: 35px;
    height: 4px;
    background: rgb(23, 34, 80);
    top: 100%;
    border-radius: 5px;
    position: absolute;
}

.input_field {
    width: 100%;
    background-color: #eaeaea;
    margin: 15px 0px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    max-height: 65px;
    padding: 0px 10px;
    overflow: hidden;
    transition: all ease-in-out 0.5s;
    border-radius: 10px;
}

input {
    width: 100%;
    background-color: transparent;
    border: 0px;
    outline: 0px;
    padding: 18px 15px;
}

.input_field i {
    color: #999;
}

.form_div p {
    text-align: left;
}

.form_div p a {
    text-decoration: none;
}

.buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.buttons button {
    /* transition: all ease-in-out 0.2s; */
    border-radius: 20px;
    width: 48%;
    background-color: rgb(23, 34, 80);
    color: white;
    height: 40px;
    margin-top: 40px;
    border: none;
    outline: none;
    transition: all ease-in-out 0.5s;
}

#create {
    border-radius: 20px;
    width: 100%;
    background-color: rgb(23, 34, 80);
    color: white;
    height: 40px;
    margin-top: 40px;
    border: none;
    outline: none;
    transition: all ease-in-out 0.5s;
}

#login {
    border-radius: 20px;
    width: 100%;
    background-color: rgb(23, 34, 80);
    color: white;
    height: 40px;
    margin-top: 40px;
    border: none;
    outline: none;
    transition: all ease-in-out 0.5s;
    display: none;
}

button.disable {
    transition: all ease-in-out 0.5s;
    background-color: #999;
}